@{
    ViewData["Title"] = "Confirmation";
}
@model MovieMissionAssign.Models.MovieForm
<!--Confirmation page-->
<!--dynamically show confirmation of movie save-->
<h2> Thank you, @Model.Title successfully added.</h2>