@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}
<!--index view has header and photo as well as inherited navbar from layout-->
<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
</div>

<div>
    <img src="~/img/JoelHiltonHeadshot.jpg" />
</div>
