@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Grade Calculator";
}


<!--Form for calculating grade-->
<h6>Calc Grade:</h6>
<!--section for output of grade calc-->
<p id="output" class="output"></p>
<form>
    <p>Scores out of 100: </p>
    <label for="assignScore">Assignments:</label>
    <input id="assignScore" type="number"
           min="0" max="100" /><br />
    <label for="grpPrjtScore">Group Project:</label>
    <input id="grpPrjtScore" type="number"
           min="0" max="100" /><br />
    <label for="quizScore">Quizzes:</label>
    <input id="quizScore" type="number"
           min="0" max="100" /><br />
    <label for="examScore">Exams:</label>
    <input id="examScore" type="number"
           min="0" max="100" /><br />
    <label for="intexScore">INTEX:</label>
    <input id="intexScore" type="number"
           min="0" max="100" /><br />
    <input id="btnCalc" type="button" value="Calc Grade" />
</form>