@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "A Little About Me";
}


<!--Main section of website-->
<h1>Stephen</h1>
<img id="picCanyon" src="img/20210612_183822.jpg" />

<br />
<p>
    What I hope to get out of IS 413:<br />
    I hope that by the end of this class I will
    be appropriately prepared for any
    internships or job opportunities that may
    come my way.
</p>

<!--List of preferred jobs-->
<h6>Preferred jobs:</h6>
<ol>
    <li>Software Engineering</li>
    <li>Web Developement</li>
    <li>Full Stack Developer</li>
</ol>
