<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewData["Title"]</title>
    <!--browser tab icon-->
    <link href="~/img/favicon.ico" rel="icon" />
    <!--Links to files in project-->
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/default.css" rel="stylesheet" />
    <!--Links to jquery and bootstrap javascript-->
    <script src="~/lib/jquery/jquery-3.6.0.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
    <!--navigation links-->
    <nav>
        <a asp-controller="Profile" asp-action="Index">Home</a>
        <a asp-controller="Profile" asp-action="GradeCalculator">Grade Calc</a>
    </nav>
    <!--variable header-->
    <h1>@ViewData["Header"]</h1>
    <!--load body for page-->
    <div>
        @RenderBody()
    </div>

</body>
</html>
